* {
    font-family:Roboto,Ubuntu,Arial,sans-serif;
}
header {
    display:flex;
    justify-content: space-between;
}

header img{
    height: 10vh;
    max-height: 114px
}
nav {
    margin:1em 0 ;
    padding:0.5em 0;
    border-top:2px #909090 solid;
    border-bottom:2px #909090 solid;

}
nav a {
    text-decoration: none;
    color: #909090;
}

main {
    display: flex;
    border:1px solid green;
    height: 95vh;
}

h1 {
    font-size: 133%;
}

h2 {
    font-size: 110%
}

select {
    font-size:16px;
    padding:0.33em;
    border:1px solid green;
    width:100%
}

#tasql {
    resize: none;
    width:100%;
}

button {
    margin:1em 0;
}


.fehler {
    color:red;
}


aside {
    padding: 0 1em;
    border-right: 1px outset gray;
    min-width: 22ex;
}

section {   
    padding: 0 1em;
    display: flex;
    flex-direction: column;    
}

#info {
    margin-top: 1em;
}

#info li {
    list-style-type: none;
}

#info select {
    margin-bottom: 2em;
}

.databasedetails {
    display:flex;
    gap:0.33em;
}

.databasedetails span {
    flex-grow: 1;
    text-align: right;
}

#divlimit{
    display:inline-flex;
    align-items: center;
    margin-left:1em;
    width:30em;
    justify-content: space-around;
}

pre,textarea {
    font-family: monospace;
}

#tblresult {
    width:100%;
    border-spacing: 0;
    border:1px solid gray;
    table-layout: fixed;
    max-height:10rem;
}


#tblresult tbody td{
    padding:0.3ex 1ex;
    background-color: white;
    border-width:0 1px;
    border-style:solid;
    border-color:#eeeeee;   
}

#tblresult tr:nth-child(even) td{
    background-color: #e9fdea;
}


#tblresult thead td {
    font-weight: bold;
    background-color: green;
    color:white;
    padding:1ex;
}

#info select {
    padding:0.5rem;
    background:white;
    border:1px solid gray;
    color:green;
    font-weight: bolder;
    font-size:1.2rem;
}

#btnanwenden {
    border:2px solid green;
    background:white;
    padding:0.5rem;
}

#btnanwenden:hover,select:hover,#info span:first-child:hover{
    color:white;
    background: green;
}

#antwort {
    flex-grow:1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 1em;
}

#tablewrapper{
    flex-grow: 1;
    overflow: auto;  
}
